# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/Assets/AddressableAssetsData/*/*.bin*
/Assets/StreamingAssets/aa*
# IDE
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
# OS
.DS_Store
